<style>

.list-inline-item {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
}
.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
  }
</style>
<li class="list-inline-item">
<a href="https://discord.com/invite/hXs2NgTYP5"><img src="/img/discord.png" width="50" alt="Discord Logo" class="center"></a>
<a href="https://github.com/wwucyber"><img src="/img/github.png" width="50" alt="Github Logo" class="center"></a>
<a href="https://win.wwu.edu/organization/cyber"><img src="/img/win.png" width="50" alt="Win Logo" class="center"></a>
</li>


